body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}
ul {
  list-style: none;
}
.padding {
  background-color: red;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1500px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex-two {
  width: 710px;
}
.flex-three {
  width: 690px;
}

.hero {
  margin-top: 0;
  margin-bottom: 41px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;
  color: #000;
}

.hero-two {
  margin-top: 0;
  margin-bottom: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  /* or 139% */
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.hero-three {
  margin-right: 64px;
  margin-left: 64px;
  margin-top: 69px;
  margin-bottom: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;

  color: #000000;
}

.hero-four {
  margin-right: 64px;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 71px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

.jump {
  display: flex;
  flex-wrap: wrap;
  width: 790px;
  padding: 0;
  margin: 0;
}

.margin {
  margin-right: 84px;
  margin-bottom: 60px;
}

.margin:nth-child(3n) {
  margin-right: 0;
}

.margin:nth-child(3n) {
  margin-bottom: 0;
}

.border {
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* section two */
.title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: -0.015em;
}
.title-two {
  margin-top: 0;
  margin-bottom: 100px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  /* or 139% */
  text-align: center;
  letter-spacing: -0.015em;
}
.group {
  margin: 0;
  padding: 0;
  margin-right: 148px;
}

.heading-first {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;

  color: #000000;
}

.item {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

.self {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-two {
  background-color: salmon;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* section three */
.photo {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  /* or 150% */
  letter-spacing: -0.015em;

  color: #000000;
}

.grand {
  margin-top: 0;
  margin-bottom: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  /* or 139% */
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

.fill {
  margin-right: 64px;
  margin-left: 64px;
  margin-top: 71px;
  margin-bottom: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;

  color: #000000;
}

.call {
  margin-top: 0;
  margin-bottom: 64px;
  margin-right: 64px;
  margin-left: 64px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

.padding-three {
  background-color: sandybrown;
  padding-top: 120px;
  padding-bottom: 120px;
}

.nice {
  margin: 0;
  padding: 0;
  margin-right: 84px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.nice:last-child {
  margin-right: 0;
}
.miss {
  display: flex;
  justify-content: space-between;
}

/* section four */
.padding-four {
  background-color: violet;
  padding-top: 120px;
  padding-bottom: 120px;
}

.style {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;

  color: #000000;
}

.style .item {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

.cool {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -60px -92px;
}
.main {
}

/* button section 4 */
.button {
  width: 130px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;

  border-radius: 7px;
  padding: 11px 22px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #18a0fb;
}

.bold {
  width: 648px;
  margin: 60px 92px;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin-top: 0;
}
ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}
.garanties {
  background-color: #000000;
  color: white;
  padding: 85px 0;
  min-height: 725px;
  background-image: url(../image/union.png);
  background-repeat: no-repeat;
  background-position: top 85px right calc(100% / 2 - 580px);
}

.garanties-container {
  position: relative;
  padding-left: 615px;
  padding-right: 215px;
}
.garanties-container::before {
  position: absolute;
  top: 0;
  left: -95px;
  content: "";
  width: 590px;
  height: 565px;
  display: block;
  background-image: url(../image/headphones.jpg);
}
.garanties-container::after {
  position: absolute;
  bottom: 0;
  right: -135px;
  content: "";
  width: 300px;
  height: 110px;
  display: block;
  background-image: url(../image/union.png);
  background-repeat: no-repeat;
}

.garanties-item {
  position: relative;
  padding-top: 37px;
  margin-bottom: 40px;
  outline: 1px solid blue;
}
.garanties-item:last-child {
  margin-bottom: 0;
}
.garanties-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: brown;
  border-radius: 50%;
}
